.words-set {
 &__savanna {   
    position: absolute;
    top: 50%;
}

&__audio-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

.game {
    &__savannah {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        min-height: 500px;
    }

    &__audio-game {

    }
}