.textbook {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__item {

    }
  }

  &-pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}