@import '../../styles/colors.scss';

.navigation {
  display: flex;
  margin: 0 auto;
  width: max-content;
  border-radius: 10px;
  padding: 15px 20px;
}
.menu-item {
  padding: 0 15px;
  color: $tertiary-color;
  font-size: 16px;
  font-weight: bold;
}