@import '../../styles/common.scss';

.vocabulary-tabs {
  color: $secondary-color;
}
.vocabulary-results{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3rem;
  align-items: center;
  &__values{
    background-color: antiquewhite;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }
  &__valuesNumber{
    color: red;
  }
}

.vocabulary-resultsStudy{
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
  &__values{
    background-color: #ffd399;
    padding: 0.7rem;
    border-radius: 1rem;
    width: fit-content;
  }
  &__valuesNumber{
    color: red;
  }
}
.cardWordVocabulary{
  display: flex;
  flex-wrap: wrap;
}
