@import '../../../styles/common.scss';

.game__memory-game {
  background-image: url('../../../assets/images/spring.jpg');
  @include game-background;
}
.time-score_block {
  @include block-color;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.memory_game-field {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 15px;
}
.memory_cards-wrapper {
  display: flex;
  justify-content: center;
}