.word {
  display: flex;
  max-width: 500px;

  &-content {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-text {
        display: flex;
        align-items: center;
      }
    }
  }
}