@import '../../../../styles/common.scss';

.radio-level-title {
  font-size: 35px !important;
}
.radio-level {
  display: block !important;
  margin: 50px 0;
  @include block-color;
  padding: 10px 0;
}