@import '../../styles/colors.scss';

.settings-field {
  background-color: $tertiary-color;
  border: 2px solid $secondary-color !important;
  border-radius: 10px;
  max-width: 500px;
  margin-top: 50px !important;
  padding: 20px !important;
  text-align: left;
}