$main-color: #F6B12B;
$primary-color: #885980;
$secondary-color: #8AB94F;
$tertiary-color: #FAF1DA;
$unit1-color: #970e97;
$unit2-color: #2b2bff;
$unit3-color: #247c24;
$unit4-color: #666666;
$unit5-color: #ff7b00;
$unit6-color: #ec1616;
