@import './colors.scss';

@mixin game-background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: $primary-color;
}
a {
  text-decoration: none;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.logo-and-auth-buttons {
  display: flex;
  justify-content: space-between;
}
.MuiButton-outlinedPrimary:hover {
  border: 2px solid #885980 !important;
}
.auth-form {
  display: grid;
  gap: 20px;
  width: 400px;
  margin: 30px auto;
  padding: 10px 50px 30px;
  background-color: $tertiary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
}
.form-button {
  display: grid;
  justify-content: right;
  margin-top: 15px;
}
.center {
  text-align: center;
}
